*{
    margin: 0;
    padding: 0;
   line-height: 0;  /* supaya tidak ada jarak conatiner dengan gambar*/
}

body{
    background-color: grey;
    text-align: center;
}
.container{
    width: 600px;
    margin: 10px auto;
    border: 5px solid white;
    overflow: auto;  /* supaya mengatasi collpase */
}

.thumb{
    width: 200px;
    float: left;/*supaya thumbnailnya berjejer kesamping */
    /* containernya collapse karena diberi float */
     border: 5px solid white;/*gak pas karena diberi border */
   box-sizing: border-box;  /*supaya pas  */
}

.thumb:hover{
    opacity: 0.5;
  cursor: pointer;  /* supaya cursornya berubah jadi tangan */
}

/* supya thumbnya transparan saat diklik */
.active{
    opacity: 0.5;
}
/* animasi untuk gallery*/
@keyframes fade{
to{
    opacity: 1;
}
}

.fade{
    opacity: 0;
    animation: fade 0.5s forwards;
}